@{  
    
    ViewData["Title"] = "Finance Simplified!";
}

<link rel="stylesheet" href="~/css/styles.css" />

<div class="card-container">
    <div class="card">
        <h1>Finance Simplified!</h1>

        <p class="legal-disclaimer">*DISCLAIMER* This is NOT official finance advice and I am not a financial Advisor. Please do your own research. This is meant to be the most basic guide to financial success towards retirement. This is inteneded for those with no prior or little financial knowledge.</p>

        <div style="text-align:center;">
            <button class="button-click" onclick="window.location.href='/Home/RetirementEasyMode'">Start Here!</button>
        </div>
    </div>
</div>