@{

    ViewData["Title"] = "Retire On EZ Mode";
}

<link rel="stylesheet" href="~/css/styles.css" />

<h2 class="retirement-subhead">Road To Retirement!</h2>

<div class="legal-disclaimer">*DISCLAIMER* This is NOT official finance advice.</div>

<ol>
    <li class="step1">
        Retirement Plan! OBTAIN a job that offers you a 401k. You want to focus on 401k before a personal IRA (Individual retirement account) because as of 2023, 401k max annual contribution limit is $22,500. IRA max limit is $6,000. After you've obtained your 401k, Congratulations! Now work towards maxing out your contributions.
        <div class="link-note">*Use the link below to calculate how much MORE MONEY you would have maxing out 401k every year versus IRA*</div>
        <a href="https://www.bankrate.com/retirement/401-k-calculator/">https://www.bankrate.com/retirement/401-k-calculator/</a>
    </li>
    <li class="step2">
        While working towards maxing your 401k contributions, also throw some into a savings account. This will be an emergency savings fund to cover your bills/expenses for at least 6 months. It's not IF something happens but WHEN something happens. 
        <div class="disclaimer2">*Once you have achieved 6 months worth of emergency savings, don't touch this money unless you need it. Hints the "Emergency Savings".*</div>
    </li>
    <li class="step3">
        Now you can either open your own personal IRA, or start your own portfolio at a brokerage and invest in individual companies you think will give you large returns in the future.
    </li>
</ol>

<div class="disclaimer3">This is the basic path to ensuring you have at least a million dollars during your retirement years. Step 1 and 2 are a must, 3 is optional. Good Luck!</div>

